# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Pacote Resoluções/Python 2021/.idea/misc.xml
Pacote Resoluções/Python 2021/.idea/inspectionProfiles/profiles_settings.xml
Pacote Resoluções/Python 2021/Intro Python/__init__.py
Pacote Resoluções/Python 2021/Intro Python/Definição.py
Pacote Resoluções/Python 2021/Intro Python/Exercicio 8.1.py
Pacote Resoluções/Python 2021/Intro Python/Modulos e Pacotes.py
Pacote Resoluções/Python 2021/Intro Python/Programa 6.22.py
Pacote Resoluções/Python 2021/Intro Python/Programa 6.7.py
Pacote Resoluções/Python 2021/Intro Python/~Tets.py
Pacote Resoluções/Python 2021/Python Aulas/.idea/inspectionProfiles/profiles_settings.xml
Pacote Resoluções/Python 2021/Python Aulas/.idea/modules.xml
Pacote Resoluções/Python 2021/Python Aulas/.idea/Python Aulas.iml
Pacote Resoluções/Python 2021/Python Aulas/.idea/workspace.xml
Pacote Resoluções/Python 2021/Python Aulas/AULA 06.py
Pacote Resoluções/Python 2021/Python Aulas/AULA 07.py
Pacote Resoluções/Python 2021/Python Aulas/Aula 08.py
Pacote Resoluções/Python 2021/Python Aulas/Aula 09.py
Pacote Resoluções/Python 2021/Python Aulas/Aula 10.py
Pacote Resoluções/Python 2021/Python Aulas/Aula 12.py
Pacote Resoluções/Python 2021/Python Aulas/Aula 13.py
Pacote Resoluções/Python 2021/Python Aulas/.idea/misc.xml
Pacote Resoluções/Python 2021/.idea/workspace.xml
Pacote Resoluções/Python 2021/.idea/Python 2021.iml
Pacote Resoluções/Python 2021/.idea/modules.xml
